alias ls="ls --color"
alias chromedev="open -na Google\ Chrome --args --user-data-dir=/tmp/temporary-chrome-profile-dir --disable-web-security --disable-site-isolation-trials"
alias vps="ssh ubuntu@54.36.101.176"
